.footer-background {
    background-color: rgba(0, 0, 0, 0.2);
}

.coming-soon {
    font-size: 100px;
    text-decoration: underline;
    font-weight: 600;
    color: #40445a;
    text-align: center;
}